



#wrapper {
  width: 800px;
  margin: auto;
  margin-top: 50px;
  background-color: ;
}

header {
 width: 800px;
 height: 60px;
 background-color: #ffabff;
 float: left;
 <h1 STYLE="font-size: 24px; font-family: 'Comic Sans MS';">hung loempia's</h1>
}

p{font-weight: bold;}



body{background-image: url('chinesebackground.jpg');}
