



#wrapper {
  width: 800px;
  margin: auto;
  margin-top: 50px;
  background-color: ;
}

header {
  padding: 1px;
 text-align: center;
 background: #yellow;
 color: white;
 font-size: 20px;

p{font-weight: bold;}



body{background-image: url('chinesebackground.jpg');}
