

body {
  padding: 0;
  margin: 0;
  background-image: url('chinesebackground.jpg');
}

header {background-color: red;
height: 115px;
width: 900px;
float: left;
margin-top: auto;

*margin: 0px;

#wrapper {
  width: 800px;
  margin: auto;
  margin-top: 50px;
  background-color: ;
}
